html {
    background-color: #cbbeb3;
    color: #000000;
    font-family: sans-serif;
    font-size: 1.1em;
}

html.dark {
    background-color: #1f1f1f;
    color: #d2d2d2;
}
  
.dark .nav-links a {
    color: #777777;
}
  
.dark .nav-links a.active {
    color: #ffffff;
}
  
body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}
  
* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    color: #0036d6;
}

.dark a {
    /* color: #007bff; */
    color: #ffa700;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #000000;
    display: none;
    margin: 0;
}
  
.nav-links a {
    display: block;
    text-align: center;
    color: #777777;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
}

.thumbnail-container-space-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.thumbnail-container-space-around img {
    width: auto;
    height: 250px;
}

.thumbnail {
    border: 6px solid #ffffff;
}

.pt {
    padding-top: 1.8em;
}

.pb {
    padding-bottom: 1.8em;
}

.expanded {
    display: unset;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-caption-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title-date {
    display: flex;
    justify-content: space-between;
}

.github-url {
    text-align: right;
}

.project-posts-container {
    width: 768px;
    /* border: 1px solid red; */
}

.cdt {
    display: flex;
    height: auto;
    align-items: flex-start;
}

.cdt div {
    padding-bottom: 8px;
}

.lc {
    flex-shrink: 0;
    width: 190px;
    white-space: nowrap;
}

.mc {
    flex-shrink: 0;
    width: 120px;
    white-space: nowrap;
    /* border: 1px solid red; */
}

.mc-2 {
    flex-shrink: 0;
    width: 100px;
    white-space: nowrap;
    /* border: 1px solid red; */
}

.rc {
    flex-grow: 1;
    white-space: nowrap;
    /* border: 1px solid red; */
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #777777;
}

.font-lg {
    font-size: 1.4em;
}

.font-xl {
    font-size: 1.6em;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-container div {
    width: 240px;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .nav-links a.active {
        color: #000000;
        border-bottom: 3px solid #000000;
    }
  
    .dark .nav-links a.active {
        color: #ffffff;
        border-bottom: 3px solid #ffffff;
    }

    .hamburger {
        display: none;
    }
}