---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>
    <h1 class="page-title">About</h1>
    <p class="pt">My background with computers began at 8 years old. My dad brought home a Packard Bell computer with a whopping 75mhz CPU and a 56k modem. I learned to navigate MS-DOS and perform basic maintenance such as opening the case and removing the dust. The booklets that came with the computer taught me the basics, and helped me upgrade the RAM. I later learned to reinstall and upgrade Windows 3.11, 95, and 98.</p>

    <table class="pc-table">
        <caption>Computer History</caption>
        <tr>
            <th>Year</th>
            <th>Type</th>
            <th>Name</th>
            <th>CPU</th>
            <th>GPU</th>
        </tr>
        <tr>
            <td>1995</td>
            <td>Pre-built</td>
            <td></td>
            <td>75 Mhz Packard Bell</td>
            <td>Integrated</td>
        </tr>
        <tr>
            <td>1999</td>
            <td>Pre-built</td>
            <td></td>
            <td>550 Mhz AMD Athlon K7 Slot A</td>
            <td>3dfx Voodoo</td>
        </tr>
        <tr>
            <td>2003</td>
            <td>Self-built</td>
            <td></td>
            <td>1.5 Ghz AMD Athlon XP 1600</td>
            <td>GeForce 4 Ti 4200</td>
        </tr>
        <tr>
            <td>2007</td>
            <td>Laptop</td>
            <td>Sony Vaio SZ650N</td>
            <td>2.2 Ghz Intel Core 2 Duo</td>
            <td></td>
        </tr>
        <tr>
            <td>2011</td>
            <td>Self-built</td>
            <td></td>
            <td>3.1 Ghz Intel i3-2100</td>
            <td>GeForce GTX 970</td>
        </tr>
        <tr>
            <td>2013</td>
            <td>Laptop</td>
            <td>MacBook Air</td>
            <td>2.6 Ghz Intel Core i5</td>
            <td></td>
        </tr>
        <tr>
            <td>2014</td>
            <td>Self-built</td>
            <td></td>
            <td>4.2 Ghz Intel i5-4690K</td>
            <td>GeForce RTX 2080</td>
        </tr>
        <tr>
            <td>2019-Now</td>
            <td>Self-built</td>
            <td></td>
            <td>4.4 GhzAMD 3900x</td>
            <td>GeForce RTX 3080</td>
        </tr>
        <tr>
            <td>2024-Now</td>
            <td>Pre-built</td>
            <td>Dell Optiplex Micro 7060</td>
            <td>3.5 Ghz Intel Core i5</td>
            <td>Intel UHD Graphics 630</td>
        </tr>
    </table> 

    <p>
        This doesn't include the desktops I've built for friends and family. I became their technical support and loved a challenge.
    </p>

    <ul>
        <li>Replaced hardware</li>
        <li>Installed software and drivers</li>
        <li>Reformatted drives</li>
        <li>Set up printers, DSL, cable, and fiber modems, including routers</li>
        <li>Forwarded network ports</li>
        <li>Successfully recovered data from a corrupted hard drive</li>
        <li>Installed custom router software</li>
        <li>Replaced laptop CPU thermal paste</li>
        <li>Troubleshooted laptops from manufacturers like Sony, Lenovo, HP, Dell</li>
    </ul>

    <p></p>
</BaseLayout>