---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="pt-lg">
        <ul class="blog-row">
            {allPosts.map(post => 
            <BlogPost 
                url={post.url} 
                title={post.frontmatter.title} 
                pubDate={post.frontmatter.pubDate}
            />)}
        </ul>
    </div>
</BaseLayout>