---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>
    <p class="pt font-xl">I'm James, and I enjoy making your <b>(mostly tech)</b> problems go away.</p>
    <div>
        <ul>
            <li>I work in technology and administration.</li>
            <li>I've worked as a web developer and currently work in administration and volunteer in an Information Technology department.</li>
            <li>I recently bought a used Dell Optiplex 7060 Micro and setup virtual machines, a Jellyfin media server, and an SMB server using Proxmox.</li>
            <li>My hobbies include editing video, reading about technology and video games, as well as automating tasks.</li>
        </ul>
    </div>

    <div class="skills-container">
        <div>
            <p>Software</p>
            <ul>
                <li>Ubuntu Server</li>
                <li>Linux</li>
                <li>Windows 7, 10, 11</li>
                <li>MacOS</li>
                <li>PXE Boot Imaging</li>
                <li>Imaging PCs</li>
                <li>Troubleshooting software</li>
                <li>Virtual Machines with Proxmox</li>
                <li>Audiovisual</li>
                <li>Blackmagic products</li>
                <li>Video editing</li>
                <li>Photo editing and touch-ups</li>
            </ul>
        </div>

        <div>
            <p>Hardware</p>
            <ul>
                <li>Troubleshoot and replace desktop PC and laptop hardware</li>
                <li>Troubleshoot audiovisual equipment</li>
                <li>Remove hardware components for e-waste</li>
                <li>Crimp ethernet and coaxial cables</li>
            </ul>
        </div>

        <div>
            <p>Coding</p>
            <ul>
                <li>Javascript</li>
                <li>React.js</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>Typescript</li>
                <li>Git</li>
                <li>BASH</li>
                <li>PHP</li>
                <li>Bootstrap</li>
                <li>MySQL</li>
                <li>MongoDB</li>
            </ul>
        </div>
    </div>
</BaseLayout>