---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>
    <h1 class="page-title">Home</h1>
    <p class="pt font-xl">I'm James, and I enjoy making your <b>(mostly tech)</b> problems go away.</p>
    <div>
        <ul>
            <li>I work in technology and administration.</li>
            <li>I've worked as a web developer and currently work in administration and volunteer in an IT department.</li>
            <li>I recently bought a used Dell Optiplex to setup virtual machines, a Jellyfin media server, Tailscale VPN tunnel, and an SMB server using Proxmox.</li>
            <li>My hobbies include editing video, reading about technology and video games, and automating tasks.</li>
        </ul>
    </div>

    <div>
        <p>Experience</p>
        <ul>
            <li>10 years of coding experience</li>
            <li>7 years of professional IT experience across audiovisual, web development, and general IT</li>
            <li>Life-time hobbyist working with computers and peripherals</li>
        </ul>
    </div>

    <div class="skills-container">
        <div>
            <p>Software</p>
            <ul>
                <li>Ubuntu Server</li>
                <li>Linux</li>
                <li>Windows 7, 10, 11</li>
                <li>MacOS</li>
                <li>PXE Boot Imaging</li>
                <li>Imaging PCs</li>
                <li>Troubleshooting software</li>
                <li>Virtual Machines with Proxmox</li>
                <li>ManageEngine Endpoint Central</li>
                <li>BeyondTrust Bomgar</li>
                <li>Data recovery</li>
                <li>Audiovisual</li>
                <li>Blackmagic products</li>
                <li>Video editing</li>
                <li>Photo editing and touch-ups</li>
            </ul>
        </div>

        <div>
            <p>Hardware</p>
            <ul>
                <li>Troubleshoot and replace desktop PC and laptop hardware</li>
                <li>Troubleshoot audiovisual equipment</li>
                <li>Remove hardware components for e-waste</li>
                <li>Crimp ethernet and coaxial cables</li>
                <li>Setup computer standing desks with dual monitor mounts</li>
            </ul>
        </div>

        <div>
            <p>Coding</p>
            <ul>
                <li>Javascript</li>
                <li>React.js</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>Typescript</li>
                <li>Git</li>
                <li>BASH</li>
                <li>PHP</li>
                <li>Bootstrap</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Astro Framework</li>
                <li>Django Framework</li>
                <li>Laravel Framework</li>
            </ul>
        </div>
    </div>

    <div>
        <p>Other Technical Skills</p>
        <ul>
            <li>Replaced Lenovo laptops chiclet keyboards with classic style</li>
            <li>Replaced malfunctioning mouse switches that double-click</li>
            <li>Replaced laptop's thermal paste</li>
        </ul>
    </div>
</BaseLayout>