---
import Social from './Social.astro';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 20rem;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-items: end;
    }

    footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    footer a {
        text-decoration: none;
    }
</style>

<footer>
    <div>
        <ul>
            <li><a href="https://www.github.com/heyjames" target="_blank" rel="noopener noreferrer">GitHub <i class="fas fa-external-link-alt"></i></a></li>
        </ul>
    </div>

    <div>
        <ul>
            <li><a href="https://www.linkedin.com/in/heyjameslam" target="_blank" rel="noopener noreferrer">LinkedIn <i class="fas fa-external-link-alt"></i></a></li>
        </ul>
    </div>
    <!-- <Social platform="github" username="heyjames" /> -->
    <!-- <Social platform="linkedin" username="heyjameslam" /> -->
</footer>